nav {
  background-color: #bdbdbd;
  padding: 10px 0;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 50px;
}
