.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Define o tamanho mínimo e máximo dos cards */
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-details {
  margin-top: 10px;
}

